@using EntityLayer.Concrete
@model List<Comment>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin/</span> Yorum Listesi</h4>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı</th>
        <th>Rota</th>
        <th>Tarih</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CommentId</td>
            <td>@item.CommentUser</td>
            <td>@item.Destination.City</td>
            <td>@(((DateTime)@item.CommentDate).ToString("dd-MMM-yyyy"))</td>
            <td><a href="/Admin/Comment/DeleteComment/@item.CommentId" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>