@model VisitorViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin/</span> Api Ziyaretçi Listesi</h4>
<br>
<form method="post">
    <label>Ziyaretçi Adı</label>
    <input type="text" class="form-control" asp-for="Name"/>
    <br>
     <label>Ziyaretçi Soyadı</label>
    <input type="text" class="form-control" asp-for="Surname"/>
    <br>
     <label>Ziyaretçi Mail Adresi</label>
    <input type="text" class="form-control" asp-for="Mail"/>
    <br>
     <label>Ziyaretçi Şehri</label>
    <input type="text" class="form-control" asp-for="City"/>
    <br>
     <label>Ziyaretçi Ülkesi</label>
    <input type="text" class="form-control" asp-for="Country"/>
    <br>
    <button class="btn btn-outline-primary">Kaydet</button>
</form>