@model List<GetAllGuideQueryResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CQRS MediatR Rehber Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Rehber Adı</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.GuideID</th>
            <th>@item.Name</th>
            <th>@item.Description</th>
            <th><a href="#" class="btn btn-outline-danger">Delete</a></th>
            <th><a href="/Admin/GuideMediatR/GetGuides/@item.GuideID" class="btn btn-outline-success">Update</a></th>
        </tr>
    }
</table>
<a href="/Admin/GuideMediatR/AddGuide/" class="btn btn-outline-primary">Yeni Rehber Girişi</a>